h1 {
    text-align: center;
    font-weight: bold;
}

h2, h3 {
    text-align: left;
    font-weight: bolder;
}

body {
    background-color: #101720;
    color: white;
    font-family: "Manrope", sans-serif;
}

button {
    margin-top: 2%;
    margin-bottom: 2%;
}

#taskAdd {
    background-color: #3D4756;
    border-radius: 15px;
    margin-left: 2%;
    margin-right: 2%;
}

#formContents {
    align-items: center;
    align-content: center;
    align-self: center;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}